@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.logo {
  text-align: center;
  background-color: #e2e2e2;
}

nav ul li {
  display: inline-block;
  color: #0074d9;
  background-color: #e2e2e2;
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #0074d9;
  color: #fff;
}
